body {
    --color-blue: hsl(215, 51%, 70%);
    --color-cyan: hsl(178, 100%, 50%);
    --color-blue950: hsl(217, 54%, 11%);
    --color-blue900: hsl(216, 50%, 16%);
    --color-blue800: hsl(215, 32%, 27%);
    --color-white: #fff;
    font-size: 18px;
    font-family: "outfit", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0c192c;
}

.outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300, 400, 600;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: var(--color-white);
    font-size: 1.3rem;
    cursor: pointer;
    transition: color .4s ease-in-out;
}

h1:hover {
    color: var(--color-cyan);
}

hr {
    color: var(--color-blue);
    opacity: .3;
}

.card-inner {
    border-radius: 20px;
    width: 350px;
    background: #15273f;
    padding: 20px;
    box-shadow: 0px 5px 0px 12px #0c192c, 0px 5px 0px 29px #0c1729,
    inset 0px 0px 7px 5px rgba(28,51,83,0.43);
    border: 1px ridge #35445c;
    outline: 1px groove #041018;
    outline-offset: 0px;
}

.container-image {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 5px rgba(28,51,83,0.43);
  outline: 1px groove #071A28;
outline-offset: 0px;

}

.header-img {
    display: block;
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/* Overlay Effect */

.overlay {
    background: rgba(0, 255, 255, 0.527);
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    border-radius: 20px;
    opacity: 0;
    transition: opacity .3s ease;
}

.container-image:hover .overlay {
    opacity: 1;
    animation: glow 1s infinite;
}

@keyframes glow {
    0% {
        -webkit-box-shadow: 0px 0px 20px 1px rgba(1,252,250,0.0); 
        box-shadow: 0px 0px 20px 1px rgba(1,252,250,0.0);
        border: 5px border rgba(1,252,250,0.1);
    }
    50% {
        -webkit-box-shadow: 0px 0px 20px 1px rgba(1,252,250,0.3); 
        box-shadow: 0px 0px 20px 1px rgba(1,252,250,0.3);
        border: 5px border rgba(1,252,250,0.3);
    }
    100% {
        -webkit-box-shadow: 0px 0px 20px 1px rgba(1,252,250,0.0); 
        box-shadow: 0px 0px 20px 1px rgba(1,252,250,0.0);
         border: 5px border rgba(1,252,250,0.1);
    }

    
}



.view {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0 ;
     transition: opacity .3s ease;
}

.container-image:hover .view{
    opacity: 1;
    animation: openEye .4s 1
}

@keyframes openEye {
    0% {
        transform: scaleY(0) translate(-50%, -50%);;
    }
    100% {
        transform: scaleY(1) translate(-50%, -50%);;
    }
}

.overlay-msg {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    opacity: 0 ;
    transition: opacity .3s ease;
    text-shadow: 1px 1px 0px #000000;
}

.container-image:hover .overlay-msg{
    opacity: 1;
    animation: openEye .4s 1
}


.card-inner>* {
    margin-bottom: 20px;
}

.card-inner p:nth-child(3) {
    color: var(--color-blue);
    font-weight: 400;
}

.wrap-stat,
.stat-left,
.stat-right {
    display: flex;
    justify-content: space-between;
}

.stat-left {
    color: var(--color-cyan);
    display: flex;
    align-items: center;
    gap: 10px
}

.stat-left p {
    color: var(--color-cyan);
}

.stat-right {
    color: var(--color-blue);
    display: flex;
    align-items: center;
    gap: 10px
}

.wrap-author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.wrap-author img {
    width: 10%;
    border: 1px solid var(--color-white);
    border-radius: 50px;
}

.wrap-author p {
    margin-left: 10px;
    color: var(--color-blue);
}

.wrap-author span {
    color: var(--color-white);
    cursor: pointer;
    transition: color .4s ease-in-out;
}

span:hover {
    color: var(--color-cyan);
}
/* aside */

aside {
    position: absolute;
    opacity: 0;
    display: none;
    background: #000000b7;
    width: 100%;
    height: 100%;
    
}
aside.reveal  {
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

